html,body{
    margin: 0;
    padding: 0;
}

.barrePrincipale{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logoSite{
    height: 3em;
}


h1{
    font-size: 75px;
    text-shadow: 2px 3px 1px black;
}


.caracteristiquesBandeau{
    margin-bottom: 100px;
}

.titreJeu{
    font-size: 3em;
}

.cartePrincipale{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.prixJeu{
    margin-top: 10px;
    font-size: 1em;
}

.descJeu{
    font-size: 0.7em;
}


.carteMilieu{
    border-radius: 3%;
}

.grosTitre{
    font-size: 5em;
    text-shadow: 2px 2px 1px goldenrod;
}

.nomChampions{
    font-size: 2em;
    text-shadow: 1px 2px 1px goldenrod;
}

.texteVideo{
    font-size: 1.5em;
}



.titreContact{
    font-size: 60px;
}

.texteFooter{
    font-size: 2em;
}

.iconesFooter{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.copyright{
    font-size: 30px;
}
