html,body{
    margin: 0;
    padding: 0;
}

.rouge{
    color: red;
}

.panels{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
}

#carouselExample{
    margin-bottom: 30px;
}

.carousel-caption{
    color: black;
    font-size: 3em;
    position: sticky;
}

.carousel-inner{
    height: 850px;
    width: 100vw;
}

.card{
    height: 200px;
}




