html,body{
    margin: 0;
    padding: 0;
}

.barrePrincipale{
    position: fixed;
    z-index: 1;
    width: 100%;
}

#carouselExample{
    margin-bottom: 10vh;
}


.carrousel{
    margin: 20vh;
    margin-top: 0vh;
    padding-top: 10vh;
    justify-content: center;
}

h5{
    font-size: 1.5em;
}

.logotft{
    height: 10em;
    width: 30em;
    position: absolute;
}

.imgtft{
    z-index: 0;
}

.carousel-control-prev{
    z-index: 0;
}

.card{
    height: 30vh;
    margin-bottom: 5vh;
}

.petiteImage{
    
}