html,body{
    margin: 0;
    padding: 0;
}


.panels{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
}

#carouselExample{
    margin-bottom: 30px;
}

.carousel-caption{
    color: black;
    font-size: 3em;
    position: sticky;
}


.card{
    height: 20vh;
}

.Carrousel{
    margin: 20vh;
    margin-top: 2vh;
    justify-content: center;
}

h5{
    font-size: 1.5em;
}

.pti_texte{
    font-size: 0.5em;
}